$mhe-primary-color: green;
$mhe-primary-font-family: "Comic Sans MS", cursive, sans-serif;
$mhe-primary-font-color: yellow;


$mhe-secondary-color: purple;
$mhe-secondary-font-family: "Courier New", Courier, monospace;
$mhe-secondary-font-color: red;


$mhe-accent-color: orange;
$mhe-accent-font-color: yellow;


$mhe-outline-color: black;
$mhe-disabled-color: #cccccc;
$mhe-background-color: #def0f2;


$mhe-border: 3px solid $mhe-secondary-color;
$mhe-button-font-color: yellow;
$mhe-box-shadow: 10px 10px 5px #888888;


.mhe-theme-namespace{
    @import "../native_elements/mhe-anchor";
    @import "../native_elements/mhe-button";
    @import "../native_elements/mhe-h1-through-h6";
    @import "../native_elements/mhe-input";
    @import "../native_elements/mhe-textarea";
    @import "../mhe-classes/background-and-border";
}
