$mhe-primary-color: #e21a23;
$mhe-primary-font-family: "Proxima Nova Light", Verdana, Helvetica, sans;
$mhe-primary-font-color: #e21a23;


$mhe-secondary-color: #39858e;
$mhe-secondary-font-family: "Proxima Nova Regular", Verdana, Helvetica, sans;
$mhe-secondary-font-color: #404b5a;


$mhe-accent-color: #ebe8da;
$mhe-accent-font-color: #a6b1b7;


$mhe-outline-color: #33c5f4;
$mhe-disabled-color: #cccccc;
$mhe-background-color: #def0f2;


$mhe-border: 3px solid $mhe-secondary-color;
$mhe-button-font-color: white;
$mhe-box-shadow: 10px 10px 5px #888888;


.mhe-theme-namespace{
    @import "../native_elements/mhe-anchor";
    @import "../native_elements/mhe-button";
    @import "../native_elements/mhe-h1-through-h6";
    @import "../native_elements/mhe-input";
    @import "../native_elements/mhe-textarea";
    @import "../mhe-classes/background-and-border";
}
