.danimationicon { width: 2.36em; }
.animationicon { width: 2.20em; }
.appa_un_figure_text_01 { width: 86.67em; }
.appb_un_figure_text_01 { width: 61.49em; }
.cancer_stats { width: 23.84em; }
.ch01_figure_11 { width: 22.76em; }
.ch01_figure_text_01 { width: 62.33em; }
.ch01_figure_text_02 { width: 60.60em; }
.ch01_figure_text_03 { width: 29.33em; }
.ch01_figure_text_04 { width: 59.93em; }
.ch01_figure_text_05 { width: 62.27em; }
.ch01_figure_text_06 { width: 61.98em; }
.ch01_figure_text_07 { width: 39.11em; }
.ch01_figure_text_08 { width: 40.49em; }
.ch01_figure_text_09 { width: 22.58em; }
.ch01_figure_text_10 { width: 30.51em; }
.ch01_figure_text_11 { width: 30.51em; }
.ch01_figure_text_12 { width: 62.33em; }
.ch01_icon01 { width: 4.44em; }
.ch01_icon02 { width: 2.22em; }
.ch01_icon03 { width: 8.89em; }
.ch01_icon04 { width: 4.44em; }
.ch01_icon05 { width: 8.89em; }
.ch01_icon06 { width: 4.44em; }
.ch01_un_figure_01 { width: 35.56em; }
.ch01_un_figure_02 { width: 22.76em; }
.ch01_un_figure_03 { width: 44.29em; }
.ch01_un_figure_text_03 { width: 34.69em; }
.ch01_un_table_text_01 { width: 29.38em; }
.ch02_figure_text_01 { width: 31.56em; }
.ch02_figure_text_02 { width: 29.60em; }
.ch02_figure_text_03 { width: 30.44em; }
.ch02_figure_text_04 { width: 44.26em; }
.ch02_figure_text_05 { width: 61.22em; }
.ch02_figure_text_06 { width: 43.58em; }
.ch02_figure_text_07 { width: 30.42em; }
.ch02_figure_text_08 { width: 53.68em; }
.ch02_figure_text_09 { width: 30.42em; }
.ch02_figure_text_10 { width: 30.47em; }
.ch02_figure_text_11 { width: 30.20em; }
.ch02_figure_text_12 { width: 51.98em; }
.ch02_figure_text_13 { width: 30.33em; }
.ch02_figure_text_14 { width: 29.36em; }
.ch02_figure_text_15 { width: 34.16em; }
.ch02_figure_text_16 { width: 62.78em; }
.ch02_figure_text_17 { width: 27.42em; }
.ch02_figure_text_18 { width: 27.56em; }
.ch02_figure_text_19 { width: 31.20em; }
.ch02_figure_text_20 { width: 30.24em; }
.ch02_figure_text_21 { width: 29.40em; }
.ch02_figure_text_22 { width: 61.11em; }
.ch02_figure_text_23 { width: 30.11em; }
.ch02_figure_text_24 { width: 18.62em; }
.ch02_figure_text_25 { width: 61.40em; }
.ch02_figure_text_26 { width: 61.64em; }
.ch02_icon01 { width: 4.44em; }
.ch02_icon02 { width: 4.44em; }
.ch02_icon03 { width: 4.44em; }
.ch02_icon04 { width: 4.44em; }
.ch02_icon05 { width: 4.44em; }
.ch02_icon06 { width: 4.44em; }
.ch02_icon07 { width: 4.44em; }
.ch02_icon08 { width: 4.44em; }
.ch02_icon09 { width: 4.44em; }
.ch02_icon10 { width: 4.44em; }
.ch02_icon11 { width: 4.44em; }
.ch02_icon12 { width: 4.44em; }
.ch02_icon13 { width: 4.44em; }
.ch02_icon14 { width: 4.44em; }
.ch02_icon15 { width: 4.44em; }
.ch02_icon16 { width: 4.44em; }
.ch02_icon17 { width: 4.44em; }
.ch02_icon18 { width: 8.89em; }
.ch02_icon19 { width: 4.44em; }
.ch02_icon20 { width: 4.44em; }
.ch02_table_text_01 { width: 29.36em; }
.ch02_un_28_eq_01 { width: 8.69em; }
.ch02_un_28_eq_02 { width: 10.93em; }
.ch02_un_figure_01 { width: 35.56em; }
.ch02_un_figure_text_02 { width: 29.40em; }
.ch02_un_figure_text_03 { width: 23.24em; }
.ch02_un_figure_text_04 { width: 29.40em; }
.ch02_un_figure_text_05 { width: 29.38em; }
.ch02_un_figure_text_06 { width: 29.40em; }
.ch02_un_figure_text_07 { width: 27.24em; }
.ch02_un_figure_text_08 { width: 18.18em; }
.ch02_un_figure_text_09 { width: 18.29em; }
.ch02_un_figure_text_10 { width: 22.76em; }
.ch02_un_figure_text_11 { width: 12.80em; }
.ch02_un_figure_text_12 { width: 29.02em; }
.ch02_un_figure_text_13 { width: 18.60em; }
.ch02_un_figure_text_14 { width: 61.07em; }
.ch02_un_figure_text_15 { width: 29.29em; }
.ch02_un_table_text_01 { width: 21.07em; }
.ch03_figure_text_01 { width: 30.31em; }
.ch03_figure_text_01a { width: 22.69em; }
.ch03_figure_text_02 { width: 30.38em; }
.ch03_figure_text_02a { width: 30.40em; }
.ch03_figure_text_03 { width: 45.62em; }
.ch03_figure_text_04 { width: 65.40em; }
.ch03_figure_text_05 { width: 29.58em; }
.ch03_figure_text_06 { width: 77.33em; }
.ch03_figure_text_07 { width: 35.49em; }
.ch03_figure_text_08 { width: 30.49em; }
.ch03_figure_text_09 { width: 30.44em; }
.ch03_figure_text_10 { width: 15.73em; }
.ch03_figure_text_11 { width: 15.71em; }
.ch03_figure_text_12 { width: 26.33em; }
.ch03_figure_text_13 { width: 51.71em; }
.ch03_figure_text_14 { width: 61.24em; }
.ch03_figure_text_15 { width: 43.38em; }
.ch03_figure_text_16 { width: 45.80em; }
.ch03_figure_text_17 { width: 60.51em; }
.ch03_figure_text_17a { width: 60.51em; }
.ch03_figure_text_18 { width: 61.69em; }
.ch03_figure_text_19 { width: 30.47em; }
.ch03_figure_text_20 { width: 34.00em; }
.ch03_figure_text_21 { width: 62.40em; }
.ch03_figure_text_22 { width: 43.20em; }
.ch03_figure_text_a { width: 22.69em; }
.ch03_figure_text_b { width: 29.09em; }
.ch03_icon01 { width: 4.44em; }
.ch03_icon02 { width: 4.44em; }
.ch03_icon03 { width: 6.16em; }
.ch03_icon04 { width: 4.44em; }
.ch03_icon05 { width: 4.44em; }
.ch03_icon06 { width: 4.44em; }
.ch03_icon07 { width: 4.44em; }
.ch03_icon08 { width: 4.44em; }
.ch03_icon09 { width: 4.44em; }
.ch03_icon10 { width: 4.44em; }
.ch03_icon11 { width: 4.44em; }
.ch03_icon12 { width: 4.44em; }
.ch03_icon13 { width: 4.44em; }
.ch03_icon14 { width: 4.44em; }
.ch03_icon15 { width: 4.44em; }
.ch03_icon16 { width: 4.22em; }
.ch03_icon17 { width: 4.44em; }
.ch03_icon18 { width: 4.44em; }
.ch03_icon19 { width: 4.44em; }
.ch03_icon20 { width: 4.44em; }
.ch03_icon21 { width: 4.44em; }
.ch03_icon22 { width: 4.44em; }
.ch03_icon23 { width: 4.44em; }
.ch03_icon24 { width: 4.44em; }
.ch03_icon25 { width: 4.44em; }
.ch03_icon26 { width: 4.44em; }
.ch03_icon27 { width: 4.44em; }
.ch03_icon28 { width: 4.44em; }
.ch03_icon29 { width: 4.44em; }
.ch03_icon30 { width: 4.44em; }
.ch03_icon31 { width: 4.44em; }
.ch03_icon32 { width: 4.44em; }
.ch03_icon33 { width: 4.44em; }
.ch03_icon34 { width: 4.44em; }
.ch03_icon35 { width: 4.44em; }
.ch03_table_text_01 { width: 29.24em; }
.ch03_uneq_59_01 { width: 29.40em; }
.ch03_uneq_60_02 { width: 30.40em; }
.ch03_un_figure_01 { width: 22.76em; }
.ch03_un_figure_02 { width: 54.20em; }
.ch03_un_figure_text_03 { width: 30.40em; }
.ch03_un_figure_text_04 { width: 62.40em; }
.ch03_un_figure_text_05 { width: 30.38em; }
.ch04_figure_b { width: 17.73em; }
.ch04_figure_text_01 { width: 31.22em; }
.ch04_figure_text_02 { width: 62.44em; }
.ch04_figure_text_03 { width: 31.38em; }
.ch04_figure_text_04 { width: 59.69em; }
.ch04_figure_text_05 { width: 63.18em; }
.ch04_figure_text_06 { width: 32.91em; }
.ch04_figure_text_07 { width: 62.38em; }
.ch04_figure_text_08 { width: 64.02em; }
.ch04_figure_text_09 { width: 57.20em; }
.ch04_figure_text_10 { width: 25.29em; }
.ch04_figure_text_11 { width: 28.51em; }
.ch04_figure_text_12 { width: 29.20em; }
.ch04_figure_text_13 { width: 62.00em; }
.ch04_figure_text_14 { width: 29.84em; }
.ch04_figure_text_15 { width: 62.00em; }
.ch04_figure_text_16 { width: 30.42em; }
.ch04_figure_text_17 { width: 30.71em; }
.ch04_figure_text_18 { width: 30.22em; }
.ch04_figure_text_b { width: 33.93em; }
.ch04_icon01 { width: 4.44em; }
.ch04_icon02 { width: 4.44em; }
.ch04_icon03 { width: 4.44em; }
.ch04_icon04 { width: 4.44em; }
.ch04_icon05 { width: 4.44em; }
.ch04_icon06 { width: 4.44em; }
.ch04_icon07 { width: 4.44em; }
.ch04_icon08 { width: 4.44em; }
.ch04_icon09 { width: 4.44em; }
.ch04_icon10 { width: 4.44em; }
.ch04_icon11 { width: 4.44em; }
.ch04_icon12 { width: 4.44em; }
.ch04_table_text_01 { width: 29.36em; }
.ch04_un_figure_01 { width: 22.76em; }
.ch04_un_figure_text_01 { width: 54.31em; }
.ch04_un_figure_text_02 { width: 33.53em; }
.ch05_figure_05a { width: 22.76em; }
.ch05_figure_text_01 { width: 30.44em; }
.ch05_figure_text_02 { width: 83.09em; }
.ch05_figure_text_03 { width: 61.26em; }
.ch05_figure_text_04 { width: 61.22em; }
.ch05_figure_text_05 { width: 61.40em; }
.ch05_figure_text_05b { width: 41.44em; }
.ch05_figure_text_06 { width: 61.31em; }
.ch05_figure_text_07 { width: 35.33em; }
.ch05_figure_text_08 { width: 30.47em; }
.ch05_figure_text_09 { width: 24.56em; }
.ch05_figure_text_10 { width: 28.47em; }
.ch05_figure_text_11 { width: 29.40em; }
.ch05_figure_text_12 { width: 60.64em; }
.ch05_figure_text_13 { width: 30.38em; }
.ch05_figure_text_14 { width: 30.51em; }
.ch05_figure_text_15 { width: 30.47em; }
.ch05_icon01 { width: 4.44em; }
.ch05_icon02 { width: 4.44em; }
.ch05_icon03 { width: 4.44em; }
.ch05_icon04 { width: 4.44em; }
.ch05_icon05 { width: 4.44em; }
.ch05_icon06 { width: 4.44em; }
.ch05_icon07 { width: 4.44em; }
.ch05_icon08 { width: 4.44em; }
.ch05_icon09 { width: 4.44em; }
.ch05_icon10 { width: 4.44em; }
.ch05_icon11 { width: 4.44em; }
.ch05_icon12 { width: 4.44em; }
.ch05_un_figure_01 { width: 22.76em; }
.ch05_un_figure_text_01 { width: 20.56em; }
.ch05_un_figure_text_02 { width: 8.60em; }
.ch05_un_figure_text_03 { width: 29.42em; }
.ch05_un_figure_text_04 { width: 16.58em; }
.ch05_un_figure_text_05 { width: 54.33em; }
.ch06_figure_text_01 { width: 62.36em; }
.ch06_figure_text_02 { width: 23.31em; }
.ch06_figure_text_03 { width: 62.38em; }
.ch06_figure_text_04 { width: 30.42em; }
.ch06_figure_text_05 { width: 22.38em; }
.ch06_figure_text_06 { width: 29.47em; }
.ch06_figure_text_06a { width: 22.76em; }
.ch06_figure_text_06b { width: 10.24em; }
.ch06_figure_text_07 { width: 30.47em; }
.ch06_figure_text_08 { width: 23.29em; }
.ch06_figure_text_09 { width: 62.27em; }
.ch06_figure_text_10 { width: 30.44em; }
.ch06_figure_text_11 { width: 52.71em; }
.ch06_icon01 { width: 4.44em; }
.ch06_icon02 { width: 4.44em; }
.ch06_icon03 { width: 4.44em; }
.ch06_icon04 { width: 4.44em; }
.ch06_icon05 { width: 4.44em; }
.ch06_icon06 { width: 4.44em; }
.ch06_img01 { width: 0.52em; }
.ch06_un_figure_text_01 { width: 22.76em; }
.ch06_un_figure_text_02 { width: 23.47em; }
.ch06_un_figure_text_03 { width: 14.71em; }
.ch06_un_figure_text_04 { width: 54.29em; }
.ch07_figure_18 { width: 22.76em; }
.ch07_figure_text_01 { width: 30.62em; }
.ch07_figure_text_02 { width: 30.13em; }
.ch07_figure_text_03 { width: 24.47em; }
.ch07_figure_text_04 { width: 30.44em; }
.ch07_figure_text_05 { width: 60.04em; }
.ch07_figure_text_06 { width: 62.93em; }
.ch07_figure_text_07 { width: 29.87em; }
.ch07_figure_text_08 { width: 62.64em; }
.ch07_figure_text_09 { width: 18.84em; }
.ch07_figure_text_10 { width: 30.38em; }
.ch07_figure_text_11 { width: 31.02em; }
.ch07_figure_text_12 { width: 29.64em; }
.ch07_figure_text_13 { width: 30.40em; }
.ch07_figure_text_14 { width: 28.02em; }
.ch07_figure_text_15 { width: 30.40em; }
.ch07_figure_text_16 { width: 30.29em; }
.ch07_figure_text_17 { width: 30.29em; }
.ch07_icon01 { width: 4.44em; }
.ch07_icon02 { width: 4.44em; }
.ch07_icon03 { width: 4.44em; }
.ch07_icon04 { width: 4.44em; }
.ch07_icon05 { width: 4.44em; }
.ch07_icon06 { width: 4.44em; }
.ch07_icon07 { width: 4.44em; }
.ch07_icon08 { width: 4.44em; }
.ch07_icon09 { width: 4.44em; }
.ch07_icon10 { width: 4.44em; }
.ch07_icon11 { width: 4.44em; }
.ch07_icon12 { width: 4.44em; }
.ch07_icon13 { width: 4.44em; }
.ch07_icon14 { width: 4.44em; }
.ch07_icon15 { width: 4.44em; }
.ch07_icon16 { width: 4.44em; }
.ch07_icon17 { width: 4.44em; }
.ch07_icon18 { width: 4.44em; }
.ch07_icon19 { width: 4.44em; }
.ch07_icon20 { width: 4.44em; }
.ch07_icon21 { width: 4.44em; }
.ch07_icon22 { width: 4.44em; }
.ch07_table_text_01 { width: 29.36em; }
.ch07_table_text_7a { width: 59.53em; }
.ch07_table_text_a { width: 58.69em; }
.ch07_un_figure_01 { width: 22.76em; }
.ch07_un_figure_03 { width: 12.78em; }
.ch07_un_figure_text_01 { width: 54.31em; }
.ch08_figure_07 { width: 22.76em; }
.ch08_figure_10 { width: 22.76em; }
.ch08_figure_8a { width: 21.76em; }
.ch08_figure_text_01 { width: 63.07em; }
.ch08_figure_text_02 { width: 68.13em; }
.ch08_figure_text_03 { width: 52.24em; }
.ch08_figure_text_04 { width: 24.20em; }
.ch08_figure_text_05 { width: 62.29em; }
.ch08_figure_text_06 { width: 34.40em; }
.ch08_figure_text_08 { width: 70.07em; }
.ch08_figure_text_09 { width: 49.29em; }
.ch08_figure_text_11 { width: 58.33em; }
.ch08_figure_text_12 { width: 30.40em; }
.ch08_icon01 { width: 4.44em; }
.ch08_icon02 { width: 4.44em; }
.ch08_icon03 { width: 4.44em; }
.ch08_icon04 { width: 4.44em; }
.ch08_icon05 { width: 4.44em; }
.ch08_unfigure_01 { width: 22.76em; }
.ch08_unfigure_text_01 { width: 16.89em; }
.ch09_figure_12 { width: 22.76em; }
.ch09_figure_13 { width: 22.76em; }
.ch09_figure_text_01 { width: 61.29em; }
.ch09_figure_text_02 { width: 41.22em; }
.ch09_figure_text_03 { width: 45.44em; }
.ch09_figure_text_04 { width: 39.06em; }
.ch09_figure_text_05 { width: 62.07em; }
.ch09_figure_text_06 { width: 61.73em; }
.ch09_figure_text_07 { width: 62.31em; }
.ch09_figure_text_08 { width: 63.18em; }
.ch09_figure_text_09 { width: 30.91em; }
.ch09_figure_text_10 { width: 28.38em; }
.ch09_figure_text_11 { width: 53.20em; }
.ch09_figure_text_14 { width: 30.44em; }
.ch09_figure_text_15 { width: 19.56em; }
.ch09_figure_text_16 { width: 62.22em; }
.ch09_figure_text_a { width: 50.93em; }
.ch09_figure_text_b { width: 27.89em; }
.ch09_icon01 { width: 4.44em; }
.ch09_icon02 { width: 4.44em; }
.ch09_icon03 { width: 4.44em; }
.ch09_icon04 { width: 4.44em; }
.ch09_icon05 { width: 4.44em; }
.ch09_icon06 { width: 4.44em; }
.ch09_icon07 { width: 4.44em; }
.ch09_icon08 { width: 4.44em; }
.ch09_icon09 { width: 4.44em; }
.ch09_icon10 { width: 4.04em; }
.ch09_icon11 { width: 4.44em; }
.ch09_icon12 { width: 4.44em; }
.ch09_icon13 { width: 4.44em; }
.ch09_icon14 { width: 5.58em; }
.ch09_icon15 { width: 4.44em; }
.ch09_icon16 { width: 4.44em; }
.ch09_icon17 { width: 4.44em; }
.ch09_icon18 { width: 4.44em; }
.ch09_table_text_01 { width: 61.36em; }
.ch09_table_text_02 { width: 29.42em; }
.ch09_table_text_03 { width: 29.38em; }
.ch09_table_text_04 { width: 29.33em; }
.ch09_table_text_05 { width: 61.36em; }
.ch09_table_text_06 { width: 29.36em; }
.ch09_table_text_07 { width: 61.36em; }
.ch09_table_text_08 { width: 61.36em; }
.ch09_uneq_183_01 { width: 29.33em; }
.ch09_uneq_183_02 { width: 29.36em; }
.ch09_un_figure_01 { width: 22.76em; }
.ch09_un_figure_02 { width: 22.76em; }
.ch09_un_figure_03 { width: 16.91em; }
.ch09_un_figure_04 { width: 18.71em; }
.ch09_un_figure_text_04 { width: 54.33em; }
.ch10_figure_text_01 { width: 45.84em; }
.ch10_figure_text_02 { width: 29.36em; }
.ch10_figure_text_03 { width: 48.16em; }
.ch10_figure_text_04 { width: 30.33em; }
.ch10_figure_text_05 { width: 20.38em; }
.ch10_figure_text_06 { width: 29.67em; }
.ch10_figure_text_07 { width: 62.40em; }
.ch10_figure_text_08 { width: 23.58em; }
.ch10_figure_text_09 { width: 71.31em; }
.ch10_figure_text_10 { width: 34.73em; }
.ch10_figure_text_11 { width: 62.49em; }
.ch10_figure_text_12 { width: 61.56em; }
.ch10_figure_text_13 { width: 62.22em; }
.ch10_figure_text_a { width: 39.75em; }
.ch10_figure_text_b { width: 22.76em; }
.ch10_icon01 { width: 4.44em; }
.ch10_icon02 { width: 4.44em; }
.ch10_icon03 { width: 4.44em; }
.ch10_icon04 { width: 6.20em; }
.ch10_icon05 { width: 4.44em; }
.ch10_icon06 { width: 4.44em; }
.ch10_icon07 { width: 3.42em; }
.ch10_uneq_207_01 { width: 29.40em; }
.ch10_uneq_207_02 { width: 29.40em; }
.ch10_uneq_209_03 { width: 29.38em; }
.ch10_uneq_209_04 { width: 29.38em; }
.ch10_un_figure_01 { width: 22.76em; }
.ch10_un_figure_03 { width: 12.62em; }
.ch10_un_figure_text_02 { width: 54.33em; }
.ch10_un_figure_text_04 { width: 21.71em; }
.ch11_icon02 { width: 4.44em; }
.ch11_icon03 { width: 4.44em; }
.ch11_icon04 { width: 4.44em; }
.ch11_icon05 { width: 4.44em; }
.ch11_icon06 { width: 8.89em; }
.ch11_un_232_eq_01 { width: 29.33em; }
.ch11_un_232_eq_02 { width: 29.33em; }
.ch11_un_232_eq_03 { width: 29.33em; }
.ch11_un_232_eq_04 { width: 29.33em; }
.icon04 { width: 4.44em; }
.ch11_icon01 { width: 4.44em; }
.ch11_icon07 { width: 4.44em; }
.icon01 { width: 4.42em; }
.icon02 { width: 4.42em; }
.icon03 { width: 4.44em; }
.ch11_unfigure_text_02 { width: 54.53em; }
.ch11_figure_b { width: 24.11em; }
.ch11_figure_a { width: 22.76em; }
.ch11_unfigure_05 { width: 29.58em; }
.ch11_figure_text_10 { width: 26.38em; }
.ch11_figure_text_02 { width: 29.27em; }
.ch11_unfigure_04 { width: 21.80em; }
.ch11_figure_text_09 { width: 30.33em; }
.ch11_unfigure_03 { width: 16.64em; }
.ch11_figure_c { width: 20.87em; }
.mad45748_ta1107l { width: 30.53em; }
.ch11_figure_11 { width: 22.76em; }
.ch11_figure_text_01 { width: 42.11em; }
.ch11_figure_text_08 { width: 58.44em; }
.ch11_unfigure_01 { width: 35.56em; }
.ch11_figure_text_07 { width: 61.91em; }
.ch11_figure_text_06 { width: 62.40em; }
.mad45748_1103l { width: 62.40em; }
.ch11_figure_text_05 { width: 62.53em; }
.ch11_figure_text_03 { width: 62.40em; }
.ch11_figure_text_04 { width: 61.53em; }
.ta122 { width: 12.02em; }
.ch12_icon01 { width: 4.44em; }
.ch12_icon02 { width: 4.44em; }
.ch12_icon03 { width: 4.44em; }
.ch12_icon04 { width: 4.44em; }
.ch12_icon05 { width: 4.44em; }
.ch12_icon06 { width: 4.44em; }
.ch12_icon07 { width: 4.44em; }
.ch12_icon08 { width: 4.44em; }
.ch12_icon09 { width: 4.44em; }
.ch12_icon10 { width: 4.44em; }
.ch12_icon11 { width: 4.44em; }
.ch12_icon12 { width: 4.44em; }
.icon04 { width: 4.44em; }
.icon01 { width: 4.42em; }
.icon02 { width: 4.42em; }
.icon03 { width: 4.44em; }
.ch12_unfigure_text_02 { width: 54.56em; }
.figure12_5_revised { width: 6.73em; }
.figure121_revised { width: 14.24em; }
.ch12_figure_text_06 { width: 26.60em; }
.ch12_figure_text_05 { width: 28.71em; }
.ch12_unfigure_03 { width: 9.07em; }
.ch12_figure_text_07 { width: 31.22em; }
.ch12_figure_text_08 { width: 29.24em; }
.mad45748_1205l { width: 28.71em; }
.ch12_figure_text_10 { width: 63.62em; }
.ta122 { width: 22.42em; }
.ch12_figure_text_02 { width: 50.31em; }
.ch12_unfigure_b { width: 28.09em; }
.ch12_figure_text_13 { width: 53.33em; }
.ch12_unfigure_04 { width: 22.56em; }
.ch12_figure_text_11 { width: 60.69em; }
.ch12_unfigure_a { width: 22.76em; }
.ch12_figure_text_12 { width: 52.49em; }
.ch12_figure_text_03 { width: 61.51em; }
.ch12_figure_text_09 { width: 62.56em; }
.ch12_unfigure_c { width: 39.13em; }
.ch12_figure_text_04 { width: 61.31em; }
.ch12_unfigure_01 { width: 35.56em; }
.ch12_figure_text_01 { width: 61.62em; }
.ch12_figure_text_14 { width: 61.49em; }
.ch13_figure_04 { width: 22.76em; }
.ch13_icon01 { width: 4.44em; }
.ch13_icon03 { width: 4.44em; }
.ch13_icon04 { width: 4.44em; }
.ch13_icon05 { width: 4.44em; }
.ch13_icon06 { width: 4.44em; }
.ch13_icon07 { width: 4.44em; }
.ch13_icon08 { width: 4.44em; }
.ch13_icon09 { width: 4.44em; }
.ch13_icon10 { width: 4.44em; }
.ch13_icon11 { width: 4.44em; }
.ch13_icon12 { width: 4.44em; }
.ch13_icon13 { width: 4.44em; }
.ch13_icon14 { width: 4.44em; }
.ch13_icon15 { width: 4.44em; }
.ch13_figure_a { width: 21.71em; }
.icon04 { width: 4.44em; }
.ta126_new { width: 7.98em; }
.ch13_figure_b { width: 22.76em; }
.ch13_figure_text_10 { width: 30.44em; }
.ch13_icon02 { width: 8.89em; }
.ch13_un_figure_text_02 { width: 29.31em; }
.icon01 { width: 4.42em; }
.icon02 { width: 4.42em; }
.icon03 { width: 4.44em; }
.fig1311_new { width: 11.49em; }
.ta125_new { width: 9.62em; }
.ch13_figure_text_09 { width: 30.44em; }
.ch13_un_figure_text_03 { width: 54.33em; }
.fig1313_new { width: 11.93em; }
.ta126 { width: 15.02em; }
.ch13_figure_c { width: 22.76em; }
.mad45748_1309 { width: 30.44em; }
.ch13_figure_text_11 { width: 41.42em; }
.ta126_new { width: 29.53em; }
.ch13_figure_text_03 { width: 23.38em; }
.ch13_figure_text_02 { width: 31.04em; }
.ch13_un_figure_text_05 { width: 28.67em; }
.ch13_un_figure_text_04 { width: 29.71em; }
.ch13_un_figure_07 { width: 22.71em; }
.ch13_un_figure_08 { width: 22.76em; }
.ch13_un_figure_01 { width: 35.56em; }
.mad45748_ta1304 { width: 22.71em; }
.ch13_figure_text_01 { width: 63.18em; }
.ch13_un_figure_06 { width: 22.71em; }
.ch13_figure_text_12 { width: 60.53em; }
.ch13_figure_text_08 { width: 61.93em; }
.ch13_figure_text_13 { width: 62.27em; }
.ch13_figure_text_05 { width: 61.49em; }
.ch13_figure_text_06 { width: 61.71em; }
.ch13_figure_text_07 { width: 62.02em; }
.ch14_icon01 { width: 4.44em; }
.ch14_icon02 { width: 4.44em; }
.ch14_icon03 { width: 4.44em; }
.ch14_icon04 { width: 4.44em; }
.ch14_icon05 { width: 4.44em; }
.ch14_icon06 { width: 4.44em; }
.ch14_icon07 { width: 4.44em; }
.ch14_icon08 { width: 4.44em; }
.ch14_icon09 { width: 4.44em; }
.ch14_icon10 { width: 4.44em; }
.ch14_icon11 { width: 4.44em; }
.ch14_icon12 { width: 4.44em; }
.ch14_icon13 { width: 4.44em; }
.ch14_icon14 { width: 4.44em; }
.ch14_icon15 { width: 4.44em; }
.ch14_icon16 { width: 4.44em; }
.ch14_icon17 { width: 4.44em; }
.ch14_icon18 { width: 4.44em; }
.ch14_icon19 { width: 4.44em; }
.icon04 { width: 4.44em; }
.icon01 { width: 4.42em; }
.icon02 { width: 4.42em; }
.icon03 { width: 4.44em; }
.fig142_new { width: 8.89em; }
.fig1418_new { width: 8.84em; }
.ch14_figure_text_03 { width: 62.22em; }
.ch14_figure_text_02 { width: 30.13em; }
.ch14_un_figure_text_03 { width: 54.33em; }
.ch14_un_figure_text_05 { width: 30.82em; }
.ch14_un_figure_text_02 { width: 30.69em; }
.ch14_figure_text_04 { width: 33.67em; }
.ch14_un_figure_text_04 { width: 23.18em; }
.ch14_un_figure_text_06 { width: 26.04em; }
.mad45748_1403lpg1 { width: 43.69em; }
.ch14_figure_text_a { width: 27.96em; }
.ch14_figure_text_06 { width: 37.24em; }
.ch14_figure_text_15 { width: 34.09em; }
.mad45748_1403lpg2 { width: 62.53em; }
.ch14_figure_text_01 { width: 61.40em; }
.ch14_figure_text_11 { width: 29.20em; }
.ch14_figure_text_14 { width: 38.35em; }
.ch14_figure_text_18 { width: 28.55em; }
.ch14_figure_text_10 { width: 61.27em; }
.ch14_un_figure_01 { width: 35.56em; }
.ch14_figure_text_12 { width: 64.36em; }
.ch14_figure_text_13 { width: 61.00em; }
.ch14_figure_text_05 { width: 30.62em; }
.ch14_figure_text_17 { width: 56.80em; }
.ch14_figure_text_09 { width: 60.82em; }
.ch14_figure_text_16 { width: 62.98em; }
.ch14_figure_text_08 { width: 61.38em; }
.ch14_figure_text_07 { width: 61.16em; }
.ch15_icon01 { width: 4.44em; }
.ch15_icon02 { width: 4.44em; }
.ch15_icon03 { width: 4.44em; }
.ch15_icon04 { width: 4.44em; }
.ch15_icon05 { width: 4.44em; }
.ch15_icon06 { width: 4.44em; }
.ch15_icon07 { width: 4.44em; }
.ch15_icon08 { width: 4.44em; }
.ch15_icon09 { width: 4.44em; }
.ch15_icon10 { width: 4.44em; }
.ch15_icon11 { width: 4.44em; }
.ch15_icon12 { width: 4.44em; }
.icon04 { width: 4.44em; }
.fig148_new { width: 9.09em; }
.icon01 { width: 4.42em; }
.ch15_figure_text_01 { width: 29.67em; }
.icon02 { width: 4.42em; }
.icon03 { width: 4.44em; }
.ch15_figure_a { width: 14.84em; }
.ch15_un_figure_text_02 { width: 54.33em; }
.ch15_figure_text_03 { width: 45.73em; }
.ch15_figure_text_11 { width: 30.40em; }
.ch15_figure_text_10 { width: 29.16em; }
.ch15_figure_text_02 { width: 61.42em; }
.ch15_figure_text_07 { width: 29.31em; }
.ch15_un_figure_04 { width: 22.76em; }
.ch15_un_figure_text_05 { width: 22.76em; }
.ch15_un_figure_03 { width: 22.76em; }
.ch15_un_figure_text_06 { width: 33.56em; }
.mad45748_co15b { width: 21.87em; }
.ch15_figure_text_06 { width: 49.44em; }
.ch15_figure_text_b { width: 46.00em; }
.ch15_figure_text_04 { width: 51.93em; }
.ch15_figure_text_08 { width: 62.40em; }
.ch15_figure_text_05 { width: 63.38em; }
.mad45748_co15a { width: 35.56em; }
.ch15_figure_text_12 { width: 61.60em; }
.ch15_figure_text_13 { width: 30.47em; }
.mad45748_1513l { width: 30.47em; }
.ch15_un_figure_01 { width: 35.56em; }
.ch15_figure_text_09 { width: 62.40em; }
.ch15_figure_text_14 { width: 62.58em; }
.ch11_icon01 { width: 4.44em; }
.ch16_icon01 { width: 4.44em; }
.ch16_icon02 { width: 4.44em; }
.ch16_icon03 { width: 4.44em; }
.ch16_icon04 { width: 4.44em; }
.ch16_icon05 { width: 4.44em; }
.ch16_icon06 { width: 4.44em; }
.ch16_icon07 { width: 4.44em; }
.ch16_icon08 { width: 4.44em; }
.ch16_icon09 { width: 4.44em; }
.ch16_icon10 { width: 4.44em; }
.ch16_icon11 { width: 4.44em; }
.ch16_icon12 { width: 4.44em; }
.ch16_icon13 { width: 4.44em; }
.ch16_icon14 { width: 4.44em; }
.ch16_icon15 { width: 4.44em; }
.ch16_icon16 { width: 4.44em; }
.icon04 { width: 4.44em; }
.ch16_figure_a { width: 15.38em; }
.icon01 { width: 4.42em; }
.icon02 { width: 4.42em; }
.ch16_figure_text_03 { width: 33.16em; }
.icon03 { width: 4.44em; }
.ch16_figure_text_19 { width: 30.62em; }
.ch16_unfigure_text_01 { width: 54.56em; }
.ch16_figure_text_07 { width: 27.33em; }
.ch16_figure_text_02 { width: 62.44em; }
.ch16_figure_text_11 { width: 30.38em; }
.ch16_figure_text_14 { width: 30.36em; }
.ch16_figure_text_01 { width: 58.71em; }
.ch16_figure_text_20 { width: 27.98em; }
.ch16_figure_text_08 { width: 14.60em; }
.ch16_figure_text_18 { width: 30.33em; }
.ch16_figure_text_04 { width: 30.47em; }
.ch16_figure_text_21 { width: 30.33em; }
.ch16_figure_16 { width: 35.56em; }
.ch16_figure_text_13 { width: 58.53em; }
.ch16_figure_text_05 { width: 30.42em; }
.ch16_figure_text_17 { width: 30.42em; }
.ch16_figure_text_12 { width: 59.11em; }
.ch16_unfigure_01 { width: 35.56em; }
.ch16_figure_text_09 { width: 31.84em; }
.ch16_figure_text_22 { width: 62.13em; }
.ch16_figure_text_15 { width: 30.44em; }
.ch16_figure_text_06 { width: 62.80em; }
.ch16_figure_text_10 { width: 32.80em; }
.ch17_icon01 { width: 4.44em; }
.ch17_icon02 { width: 4.44em; }
.ch17_icon03 { width: 4.44em; }
.ch17_icon04 { width: 4.44em; }
.ch17_icon05 { width: 4.44em; }
.ch17_icon06 { width: 4.44em; }
.ch17_icon07 { width: 4.44em; }
.ch17_icon08 { width: 4.44em; }
.ch17_icon09 { width: 4.44em; }
.ch17_icon10 { width: 4.44em; }
.ch17_icon11 { width: 4.44em; }
.icon04 { width: 4.44em; }
.line_01 { width: 2.07em; }
.line_02 { width: 2.20em; }
.figure177 { width: 11.11em; }
.icon01 { width: 4.42em; }
.icon02 { width: 4.42em; }
.icon03 { width: 4.44em; }
.ta172 { width: 12.42em; }
.ch17_figure_a { width: 15.33em; }
.ch17_figure_c { width: 22.76em; }
.ta173 { width: 12.58em; }
.ch17_figure_b { width: 22.51em; }
.ch17_figure_text_07 { width: 26.38em; }
.ch17_un_figure_text_02 { width: 54.33em; }
.ch17_figure_text_09 { width: 44.27em; }
.ch17_figure_text_10 { width: 28.00em; }
.ch17_figure_text_13 { width: 30.44em; }
.ch17_figure_16 { width: 22.76em; }
.ch17_figure_text_12 { width: 41.13em; }
.ch17_figure_text_01 { width: 29.38em; }
.ch17_figure_text_15 { width: 42.96em; }
.mad45748_1710l { width: 28.29em; }
.ch17_figure_20 { width: 22.76em; }
.ch17_un_figure_text_03 { width: 29.38em; }
.ch17_figure_text_05 { width: 25.87em; }
.ch17_un_figure_text_04 { width: 24.24em; }
.ch17_figure_d { width: 22.76em; }
.ch17_un_figure_01 { width: 35.56em; }
.ch17_figure_text_11 { width: 49.16em; }
.ch17_figure_17 { width: 35.56em; }
.ch17_un_figure_text_05 { width: 36.44em; }
.ch17_figure_text_06 { width: 61.24em; }
.ch17_figure_text_03 { width: 63.27em; }
.ch17_figure_text_08 { width: 62.13em; }
.ch17_figure_text_02 { width: 61.44em; }
.ch17_figure_text_19 { width: 30.38em; }
.ch17_figure_text_14 { width: 37.07em; }
.ch17_figure_text_18 { width: 27.29em; }
.ch17_figure_text_04 { width: 58.13em; }
.fig1810 { width: 8.89em; }
.ch18_icon_01 { width: 4.44em; }
.ch18_icon_02 { width: 4.44em; }
.ch18_icon_03 { width: 4.44em; }
.ch18_icon_04 { width: 4.44em; }
.ch18_icon_05 { width: 4.44em; }
.ch18_icon_06 { width: 4.44em; }
.ch18_icon_07 { width: 4.44em; }
.ch18_icon_08 { width: 4.44em; }
.ch18_icon_09 { width: 4.44em; }
.icon04 { width: 4.44em; }
.figure189 { width: 7.73em; }
.ch18_figure_08 { width: 22.76em; }
.ch18_un_figure_text_02 { width: 54.44em; }
.ch18_figure_text_10 { width: 25.67em; }
.ch18_un_figure_text_04 { width: 25.33em; }
.ch18_figure_11 { width: 12.47em; }
.ch18_figure_text_b { width: 28.36em; }
.ch18_figure_text_03 { width: 28.89em; }
.ta182 { width: 26.04em; }
.ch18_figure_text_09 { width: 29.24em; }
.ch18_un_figure_03 { width: 22.76em; }
.ch18_figure_14 { width: 15.42em; }
.ch18_figure_text_12 { width: 43.33em; }
.ch18_figure_text_c { width: 58.04em; }
.ch18_figure_text_04 { width: 61.47em; }
.ch18_figure_text_a { width: 45.80em; }
.ch18_figure_text_06 { width: 58.24em; }
.ch18_un_figure_01 { width: 35.56em; }
.ch18_figure_15 { width: 24.49em; }
.ch18_figure_text_01 { width: 70.07em; }
.ch18_figure_text_02 { width: 58.76em; }
.ch18_figure_text_13 { width: 62.36em; }
.ch18_figure_text_07 { width: 61.07em; }
.ch18_figure_text_05 { width: 62.07em; }
.ch19_figure_12 { width: 35.56em; }
.ch19_figure_text_01 { width: 44.29em; }
.ch19_figure_text_02 { width: 28.80em; }
.ch19_figure_text_03 { width: 52.40em; }
.ch19_figure_text_04 { width: 30.40em; }
.ch19_figure_text_05 { width: 14.56em; }
.ch19_figure_text_06 { width: 30.67em; }
.ch19_figure_text_07 { width: 28.91em; }
.ch19_figure_text_08 { width: 137.38em; }
.ch19_figure_text_09 { width: 30.80em; }
.ch19_figure_text_10 { width: 61.33em; }
.ch19_figure_text_11 { width: 28.58em; }
.ch19_figure_text_13 { width: 30.91em; }
.ch19_figure_text_14 { width: 56.55em; }
.ch19_figure_text_15 { width: 55.42em; }
.ch19_figure_text_16 { width: 62.73em; }
.ch19_figure_text_17 { width: 59.00em; }
.ch19_figure_text_18 { width: 27.33em; }
.ch19_figure_text_19 { width: 52.75em; }
.ch19_figure_text_20 { width: 61.33em; }
.ch19_icon_01 { width: 4.44em; }
.ch19_icon_02 { width: 4.44em; }
.ch19_icon_03 { width: 4.44em; }
.ch19_icon_04 { width: 4.44em; }
.ch19_icon_05 { width: 4.44em; }
.ch19_icon_06 { width: 4.44em; }
.ch19_icon_07 { width: 4.44em; }
.ch19_icon_08 { width: 4.44em; }
.ch19_icon_09 { width: 4.44em; }
.ch19_icon_10 { width: 4.44em; }
.ch19_icon_11 { width: 4.44em; }
.ch19_icon_12 { width: 4.44em; }
.ch19_icon_13 { width: 4.44em; }
.ch19_icon_14 { width: 4.44em; }
.ch19_icon_15 { width: 4.44em; }
.ch19_icon_16 { width: 4.44em; }
.ch19_icon_17 { width: 4.44em; }
.ch19_icon_18 { width: 4.44em; }
.ch19_icon_19 { width: 4.44em; }
.ch19_icon_20 { width: 4.44em; }
.ch19_icon_21 { width: 4.44em; }
.ch19_icon_22 { width: 4.44em; }
.ch19_icon_23 { width: 4.44em; }
.ch19_icon_24 { width: 4.44em; }
.ch19_icon_25 { width: 4.44em; }
.ch19_icon_26 { width: 4.44em; }
.ch19_icon_27 { width: 4.44em; }
.ch19_icon_28 { width: 4.44em; }
.ch19_icon_29 { width: 4.44em; }
.ch19_icon_30 { width: 4.44em; }
.ch19_un_figure_01 { width: 35.56em; }
.ch19_un_figure_text_001 { width: 54.36em; }
.ch19_un_figure_text_02 { width: 21.38em; }
.ch19_un_figure_text_03 { width: 54.33em; }
.ch19_un_figure_text_04 { width: 19.16em; }
.ch19_un_figure_text_05 { width: 24.53em; }
.ch20_figure_10 { width: 22.76em; }
.ch20_figure_11 { width: 22.76em; }
.ch20_figure_b { width: 22.67em; }
.ch20_figure_c { width: 22.67em; }
.ch20_figure_d { width: 11.07em; }
.ch20_figure_e { width: 22.76em; }
.ch20_figure_text_01 { width: 62.48em; }
.ch20_figure_text_02 { width: 29.49em; }
.ch20_figure_text_03 { width: 30.40em; }
.ch20_figure_text_04 { width: 30.40em; }
.ch20_figure_text_05 { width: 60.96em; }
.ch20_figure_text_06 { width: 25.29em; }
.ch20_figure_text_07 { width: 29.80em; }
.ch20_figure_text_08 { width: 30.35em; }
.ch20_figure_text_09 { width: 30.22em; }
.ch20_figure_text_12 { width: 62.27em; }
.ch20_figure_text_a { width: 17.60em; }
.ch20_icon01 { width: 4.44em; }
.ch20_icon02 { width: 4.44em; }
.ch20_icon03 { width: 4.44em; }
.ch20_icon04 { width: 4.44em; }
.ch20_icon05 { width: 4.44em; }
.ch20_icon06 { width: 4.44em; }
.ch20_icon07 { width: 4.44em; }
.ch20_icon08 { width: 4.44em; }
.ch20_icon09 { width: 4.44em; }
.ch20_un_figure-text_06 { width: 54.33em; }
.ch20_un_figure_01 { width: 35.56em; }
.ch20_un_figure_02 { width: 24.42em; }
.ch20_un_figure_03 { width: 17.29em; }
.ch20_un_figure_04 { width: 21.51em; }
.ch21_figure_15 { width: 22.36em; }
.ch21_figure_text_01 { width: 31.07em; }
.ch21_figure_text_02 { width: 29.36em; }
.ch21_figure_text_03 { width: 25.07em; }
.ch21_figure_text_04 { width: 27.15em; }
.ch21_figure_text_05 { width: 60.93em; }
.ch21_figure_text_07 { width: 27.56em; }
.ch21_figure_text_08 { width: 29.44em; }
.ch21_figure_text_09 { width: 29.42em; }
.ch21_figure_text_10 { width: 29.67em; }
.ch21_figure_text_11 { width: 30.24em; }
.ch21_figure_text_12 { width: 30.24em; }
.ch21_figure_text_13 { width: 62.38em; }
.ch21_figure_text_14 { width: 43.67em; }
.ch21_figure_text_16 { width: 62.22em; }
.ch21_figure_text_17 { width: 30.36em; }
.ch21_figure_text_18 { width: 25.07em; }
.ch21_figure_text_19 { width: 25.07em; }
.ch21_figure_text_20 { width: 24.42em; }
.ch21_figure_text_21 { width: 30.24em; }
.ch21_figure_text_a { width: 42.53em; }
.ch21_figure_text_b { width: 58.36em; }
.ch21_icon01 { width: 4.44em; }
.ch21_icon02 { width: 4.44em; }
.ch21_icon03 { width: 4.44em; }
.ch21_icon04 { width: 4.44em; }
.ch21_un_figure_01 { width: 35.56em; }
.ch21_un_figure_text_02 { width: 19.60em; }
.ch21_un_figure_text_03 { width: 25.49em; }
.ch21_un_figure_text_04 { width: 16.40em; }
.ch21_un_figure_text_05 { width: 54.33em; }
.ch22_figure_11 { width: 35.56em; }
.ch22_figure_text_01 { width: 60.98em; }
.ch22_figure_text_02 { width: 42.47em; }
.ch22_figure_text_03 { width: 52.89em; }
.ch22_figure_text_04 { width: 24.87em; }
.ch22_figure_text_05 { width: 23.69em; }
.ch22_figure_text_06 { width: 34.89em; }
.ch22_figure_text_07 { width: 34.46em; }
.ch22_figure_text_08 { width: 30.40em; }
.ch22_figure_text_09 { width: 63.42em; }
.ch22_figure_text_10 { width: 50.40em; }
.ch22_figure_text_12 { width: 62.31em; }
.ch22_figure_text_13 { width: 28.29em; }
.ch22_figure_text_14 { width: 30.4em; }
.ch22_figure_text_15 { width: 51.40em; }
.ch22_figure_text_16 { width: 24.60em; }
.ch22_figure_text_17 { width: 32.84em; }
.ch22_figure_text_18 { width: 29.31em; }
.ch22_figure_text_19 { width: 47.11em; }
.ch22_figure_text_20 { width: 50.04em; }
.ch22_figure_text_21 { width: 30.40em; }
.ch22_figure_text_22 { width: 62.40em; }
.ch22_figure_text_23 { width: 63.29em; }
.ch22_figure_text_a { width: 41.96em; }
.ch22_figure_text_b { width: 29.76em; }
.ch22_icon01 { width: 4.44em; }
.ch22_icon02 { width: 4.44em; }
.ch22_icon03 { width: 4.44em; }
.ch22_icon04 { width: 4.44em; }
.ch22_icon05 { width: 4.44em; }
.ch22_icon06 { width: 4.44em; }
.ch22_icon07 { width: 4.44em; }
.ch22_icon08 { width: 4.44em; }
.ch22_icon09 { width: 4.44em; }
.ch22_icon10 { width: 4.44em; }
.ch22_icon11 { width: 4.44em; }
.ch22_icon12 { width: 4.44em; }
.ch22_icon13 { width: 4.44em; }
.ch22_icon14 { width: 4.44em; }
.ch22_icon15 { width: 4.44em; }
.ch22_icon16 { width: 4.44em; }
.ch22_icon17 { width: 4.44em; }
.ch22_icon18 { width: 4.44em; }
.ch22_icon19 { width: 4.44em; }
.ch22_icon20 { width: 4.44em; }
.ch22_icon21 { width: 4.44em; }
.ch22_icon22 { width: 4.44em; }
.ch22_icon23 { width: 4.44em; }
.ch22_icon24 { width: 4.44em; }
.ch22_icon25 { width: 4.44em; }
.ch22_icon26 { width: 4.44em; }
.ch22_icon27 { width: 4.44em; }
.ch22_icon28 { width: 4.44em; }
.ch22_icon29 { width: 4.44em; }
.ch22_icon30 { width: 8.89em; }
.ch22_un_figure-text_05 { width: 54.33em; }
.ch22_un_figure_01 { width: 35.56em; }
.ch22_un_figure_text_02 { width: 21.71em; }
.ch22_un_figure_text_03 { width: 30.49em; }
.ch22_un_figure_text_04 { width: 28.31em; }
.mad45748_ta2203l { width: 28.06em; }
.ch23_figure_19 { width: 35.56em; }
.ch23_figure_b { width: 21.00em; }
.ch23_figure_text_01 { width: 30.31em; }
.ch23_figure_text_02 { width: 29.18em; }
.ch23_figure_text_03 { width: 30.38em; }
.ch23_figure_text_04 { width: 29.00em; }
.ch23_figure_text_05 { width: 30.22em; }
.ch23_figure_text_06 { width: 29.33em; }
.ch23_figure_text_07 { width: 30.40em; }
.ch23_figure_text_08 { width: 29.24em; }
.ch23_figure_text_09 { width: 28.82em; }
.ch23_figure_text_10 { width: 29.33em; }
.ch23_figure_text_11 { width: 33.24em; }
.ch23_figure_text_12 { width: 62.38em; }
.ch23_figure_text_13 { width: 57.20em; }
.ch23_figure_text_14 { width: 68.11em; }
.ch23_figure_text_15 { width: 60.33em; }
.ch23_figure_text_16 { width: 62.56em; }
.ch23_figure_text_17 { width: 22.16em; }
.ch23_figure_text_18 { width: 30.44em; }
.ch23_figure_text_19 { width: 26.64em; }
.ch23_figure_text_21 { width: 30.40em; }
.ch23_figure_text_a { width: 28.53em; }
.ch23_icon01 { width: 4.44em; }
.ch23_icon02 { width: 4.44em; }
.ch23_icon03 { width: 4.44em; }
.ch23_icon04 { width: 4.44em; }
.ch23_icon05 { width: 4.44em; }
.ch23_un_figure_01 { width: 35.56em; }
.ch23_un_figure_text_02 { width: 54.47em; }
.ch24_figure_text_01 { width: 62.24em; }
.ch24_figure_text_02 { width: 62.51em; }
.ch24_figure_text_03 { width: 30.47em; }
.ch24_figure_text_04 { width: 30.64em; }
.ch24_figure_text_05 { width: 31.31em; }
.ch24_figure_text_06 { width: 72.91em; }
.ch24_figure_text_07 { width: 37.93em; }
.ch24_figure_text_08 { width: 62.49em; }
.ch24_figure_text_09 { width: 63.49em; }
.ch24_figure_text_10 { width: 69.67em; }
.ch24_figure_text_11 { width: 70.27em; }
.ch24_figure_text_12 { width: 64.31em; }
.ch24_figure_text_13 { width: 50.73em; }
.ch24_figure_text_14 { width: 62.36em; }
.ch24_figure_text_15 { width: 66.20em; }
.ch24_figure_text_16 { width: 62.42em; }
.ch24_figure_text_a { width: 58.51em; }
.ch24_figure_text_b { width: 38.96em; }
.ch24_icon01 { width: 4.44em; }
.ch24_icon02 { width: 4.44em; }
.ch24_icon03 { width: 4.44em; }
.ch24_icon04 { width: 4.44em; }
.ch24_icon05 { width: 4.44em; }
.ch24_icon06 { width: 4.44em; }
.ch24_icon07 { width: 4.44em; }
.ch24_icon08 { width: 4.44em; }
.ch24_icon09 { width: 4.44em; }
.ch24_icon10 { width: 4.44em; }
.ch24_icon11 { width: 4.44em; }
.ch24_icon12 { width: 4.44em; }
.ch24_icon13 { width: 4.44em; }
.ch24_icon14 { width: 4.44em; }
.ch24_icon15 { width: 4.44em; }
.ch24_icon16 { width: 4.44em; }
.ch24_icon17 { width: 4.44em; }
.ch24_un_figure_01 { width: 35.56em; }
.ch24_un_figure_text_001 { width: 30.60em; }
.ch24_un_figure_text_02 { width: 54.36em; }
.ch25_figure_08 { width: 22.76em; }
.ch25_figure_11 { width: 22.76em; }
.ch25_figure_20 { width: 22.76em; }
.ch25_figure_21 { width: 30.40em; }
.ch25_figure_text_01 { width: 41.02em; }
.ch25_figure_text_02 { width: 30.44em; }
.ch25_figure_text_03 { width: 29.40em; }
.ch25_figure_text_04 { width: 60.49em; }
.ch25_figure_text_05 { width: 60.40em; }
.ch25_figure_text_06 { width: 59.53em; }
.ch25_figure_text_07 { width: 73.04em; }
.ch25_figure_text_09 { width: 30.40em; }
.ch25_figure_text_10 { width: 74.82em; }
.ch25_figure_text_12 { width: 62.38em; }
.ch25_figure_text_13 { width: 30.44em; }
.ch25_figure_text_14 { width: 30.49em; }
.ch25_figure_text_15 { width: 43.02em; }
.ch25_figure_text_16 { width: 62.44em; }
.ch25_figure_text_17 { width: 65.16em; }
.ch25_figure_text_18 { width: 59.16em; }
.ch25_figure_text_19 { width: 62.18em; }
.ch25_figure_text_a { width: 28.87em; }
.ch25_figure_text_b { width: 34.69em; }
.ch25_icon01 { width: 4.44em; }
.ch25_icon02 { width: 4.44em; }
.ch25_icon03 { width: 4.44em; }
.ch25_icon04 { width: 4.44em; }
.ch25_icon05 { width: 4.44em; }
.ch25_icon06 { width: 4.44em; }
.ch25_icon07 { width: 4.44em; }
.ch25_icon08 { width: 4.44em; }
.ch25_icon09 { width: 4.44em; }
.ch25_icon10 { width: 4.44em; }
.ch25_icon11 { width: 4.44em; }
.ch25_icon12 { width: 4.44em; }
.ch25_icon13 { width: 4.44em; }
.ch25_icon14 { width: 4.44em; }
.ch25_icon15 { width: 4.44em; }
.ch25_icon16 { width: 4.44em; }
.ch25_icon17 { width: 4.44em; }
.ch25_icon18 { width: 4.44em; }
.ch25_icon19 { width: 4.44em; }
.ch25_icon20 { width: 4.44em; }
.ch25_icon21 { width: 4.44em; }
.ch25_un_eq_558_01 { width: 19.40em; }
.ch25_un_figure_01 { width: 35.56em; }
.ch25_un_figure_text_02 { width: 54.33em; }
.ch25_un_figure_text_03 { width: 29.42em; }
.ch25_un_figure_text_04 { width: 39.78em; }
.ch25_un_figure_text_05 { width: 19.11em; }
.co23 { width: 14.24em; }
.connectplus_biology { width: 40.00em; }
.connectplus_biology_copy { width: 4.31em; }
.fig1311_new { width: 11.49em; }
.fig1313_new { width: 11.93em; }
.fig1418_new { width: 8.84em; }
.fig142_new { width: 8.89em; }
.fig148_new { width: 9.09em; }
.fig1810 { width: 8.89em; }
.fig192 { width: 12.38em; }
.fig2111 { width: 10.56em; }
.fig212 { width: 12.71em; }
.fig214 { width: 16.78em; }
.fig215 { width: 16.64em; }
.fig216 { width: 15.40em; }
.fig217 { width: 12.80em; }
.fig222 { width: 15.80em; }
.fig2318 { width: 16.80em; }
.fig24c { width: 14.20em; }
.figure121_revised { width: 14.24em; }
.figure12_5_revised { width: 6.73em; }
.figure189 { width: 7.73em; }
.figure191 { width: 16.11em; }
.figure1913 { width: 9.40em; }
.figure1914 { width: 17.22em; }
.figure193_v2 { width: 19.67em; }
.figure194 { width: 14.27em; }
.figure203 { width: 7.33em; }
.figure204 { width: 7.38em; }
.figure211 { width: 13.42em; }
.figure21b { width: 17.18em; }
.figure221 { width: 16.58em; }
.figure2210 { width: 23.71em; }
.figure2212 { width: 16.31em; }
.figure2217 { width: 13.62em; }
.figure2217 { width: 9.42em; }
.figure229 { width: 16.51em; }
.figure22b { width: 22.11em; }
.figure2316 { width: 22.49em; }
.figure234 { width: 10.98em; }
.figure241 { width: 23.73em; }
.figure_19 { width: 18.96em; }
.figure_19 { width: 23.02em; }
.figure_193 { width: 16.07em; }
.figure_23 { width: 14.89em; }
.fm_icon01 { width: 4.44em; }
.fm_icon02 { width: 4.44em; }
.fm_icon03 { width: 4.44em; }
.fm_icon04 { width: 4.44em; }
.fm_icon05 { width: 4.44em; }
.fm_icon06 { width: 2.20em; }
.fm_icon07 { width: 2.22em; }
.fm_icon08 { width: 2.22em; }
.fm_logo_01 { width: 8.33em; }
.fm_logo_02 { width: 8.89em; }
.fm_logo_03 { width: 8.89em; }
.fm_logo_04 { width: 8.89em; }
.fm_un_figure_01 { width: 19.60em; }
.fm_un_figure_02 { width: 19.56em; }
.fm_un_figure_03 { width: 19.60em; }
.fm_un_figure_text_04 { width: 39.62em; }
.fm_un_figure_text_05 { width: 40.76em; }
.fm_un_figure_text_06 { width: 46.27em; }
.fm_un_figure_text_07 { width: 36.78em; }
.fm_un_figure_text_08 { width: 46.02em; }
.fm_un_figure_text_09 { width: 23.02em; }
.fm_un_figure_text_10 { width: 16.98em; }
.icon01 { width: 4.42em; }
.icon02 { width: 4.42em; }
.icon03 { width: 4.44em; }
.icon04 { width: 4.44em; }
.icon20 { width: 2.22em; }
.line_01 { width: 2.07em; }
.line_02 { width: 2.20em; }
.logo { width: 4.44em; }
.ls_smartbook_rgb_pos { width: 63.27em; }
.ls_smartbook_rgb_pos_copy { width: 6.31em; }
.mad45748_0501l { width: 30.44em; }
.mad45748_1004l { width: 30.33em; }
.mad45748_co08 { width: 22.76em; }
.mad45748_ta0504 { width: 14.09em; }
.mader_14_ta2 { width: 11.40em; }
.mp3icon { width: 2.20em; }
.screen_shot_20140724_at_10 { width: 8.47em; }
.ta122 { width: 24.42em; }
.ta125_new { width: 9.62em; }
.ta126 { width: 15.02em; }
.ta126_new { width: 7.98em; }
.ta161 { width: 29.09em; }
.ta172 { width: 24.24em; }
.ta173 { width: 36.44em; }
.mad45748_ta1903l { width: 26.24em; }
.ta211 { width: 11.02em; }
.ta223 { width: 13.67em; }
.ta251 { width: 14.09em; }
.tutorialicon { width: 2.20em; }
.tutorial_hydrogen_bonds { width: 4.44em; }
.videosicon { width: 2.20em; }
.ch03_uneq_61_03 { width: 29.37em; }
.ch03_uneq_61_04 { width: 29.37em; }

.ch21_figure_text_01 { width: 31.04em; }
.ta211 { width: 19.62em; }
.ch21_figure_text_03 { width: 25.07em; }
.ch21_figure_text_04 { width: 27.15em; }
.ch21_un_figure_text_03 { width: 25.49em; }
.ch21_un_figure_text_04 { width: 16.40em; }
.ch21_figure_text_05 { width: 60.87em; }
.ch21_figure_text_02 { width: 30.38em; }
.ch21_figure_text_08 { width: 29.42em; }
.ch21_figure_text_09 { width: 29.42em; }
.ch21_figure_text_18 { width: 25.07em; }
.ch21_figure_text_19 { width: 25.07em; }
.ch21_figure_text_20 { width: 24.42em; }
.ch21_figure_text_07 { width: 27.56em; }
.ch23_figure_text_18 { width: 30.44em; }
.ch24_un_figure_text_001 { width: 30.56em; }
.ch21_figure_text_14 { width: 43.67em; }
.ta223 { width: 28.31em; }
.ch24_figure_text_16 { width: 30.47em; }
.ch22_figure_text_04 { width: 24.87em; }
.ch22_figure_text_06 { width: 29.93em; }
.ch22_un_figure_text_02 { width: 21.71em; }
.fig24c { width: 34.82em; }
.ch24_figure_text_01 { width: 34.82em; }
.ch22_figure_text_20 { width: 50.04em; }
.ch22_figure_text_02 { width: 40.29em; }
.ch22_figure_text_05 { width: 23.69em; }
.ch22_figure_text_15 { width: 51.36em; }
.ch22_figure_text_16 { width: 24.60em; }
.ch21_figure_text_21 { width: 30.24em; }
.ch23_figure_text_10 { width: 29.33em; }
.ch23_figure_text_08 { width: 29.24em; }
.ch21_figure_text_11 { width: 26.40em; }
.ch22_figure_text_03 { width: 53.11em; }
.ch22_figure_text_09 { width: 63.42em; }
.ch22_figure_text_01 { width: 60.87em; }
.ch23_figure_text_02 { width: 29.18em; }
.ch23_figure_text_19 { width: 26.64em; }
.ch22_figure_text_13 { width: 28.29em; }
.ch21_figure_text_12 { width: 30.24em; }
.ch23_figure_text_01 { width: 30.31em; }
.ch22_figure_text_17 { width: 31.20em; }
.ch21_figure_text_17 { width: 30.36em; }
.ch22_figure_text_21 { width: 30.40em; }
.ch21_figure_text_b { width: 46.69em; }
.ch24_figure_text_04 { width: 24.53em; }
.ch23_figure_text_11 { width: 33.24em; }
.ch23_figure_text_16 { width: 62.51em; }
.ch23_figure_text_13 { width: 57.20em; }
.ch24_figure_text_14 { width: 62.33em; }
.ch21_figure_text_06 { width: 29.38em; }
.ch22_figure_text_10 { width: 62.02em; }
.ch23_figure_text_09 { width: 28.82em; }
.ch22_figure_text_19 { width: 47.11em; }
.ch24_figure_text_05 { width: 31.31em; }
.ch23_figure_text_04 { width: 28.98em; }
.ch21_figure_text_10 { width: 29.67em; }
.ch22_figure_text_b { width: 29.76em; }
.ch22_un_figure_text_03 { width: 30.49em; }
.ch23_figure_text_a { width: 28.53em; }
.ch23_figure_text_17 { width: 16.49em; }
.ch22_figure_text_12 { width: 62.31em; }
.ch23_figure_text_05 { width: 30.22em; }
.ch21_figure_text_16 { width: 62.22em; }
.ch22_figure_text_23 { width: 63.29em; }
.ch22_figure_text_18 { width: 29.31em; }
.ch22_figure_11 { width: 35.56em; }
.ch23_figure_text_06 { width: 29.33em; }
.ch21_figure_text_a { width: 42.53em; }
.ch24_figure_text_b { width: 38.96em; }
.ch22_figure_text_08 { width: 30.40em; }
.ch22_figure_text_a { width: 41.76em; }
.ch22_figure_text_22 { width: 62.40em; }
.ch23_figure_text_03 { width: 30.38em; }
.ch24_figure_text_11 { width: 70.24em; }
.ch21_figure_text_13 { width: 62.38em; }
.ch24_figure_text_07 { width: 37.93em; }
.ch23_figure_text_07 { width: 30.40em; }
.ch23_figure_text_21 { width: 30.40em; }
.ch23_figure_text_12 { width: 62.38em; }
.ch24_figure_text_13 { width: 50.73em; }
.ch24_figure_text_08 { width: 64.00em; }
.ch24_figure_text_09 { width: 71.36em; }
.ch23_figure_text_15 { width: 60.33em; }
.ch23_figure_text_14 { width: 68.11em; }
.ch24_figure_text_02 { width: 62.51em; }
.ch24_figure_text_03 { width: 30.49em; }
.ch24_figure_text_15 { width: 66.51em; }
.ch24_figure_text_10 { width: 69.64em; }
.ch24_figure_text_06 { width: 72.91em; }
.mad45748_2401l { width: 66.84em; }
.mad45748_1908l { width: 69.2em; }
.mad45748_ta1901l { width: 21.3em; }
.mad45748_ta2101a { width: 19.62em; }
.mad45748_ta2101b { width: 19.6em; }
.mad45748_2106l { width: 29.4em; }
.mad45748_2107l { width: 27.57em; }
.mad45748_ta2504 { width: 19.11em; }
.mad45748_ta2503l { width: 39.71em; }
.mad45748_2512l { width: 62.35em; }
.mad45748_ta2501 { width: 23.97em; }
.mad45748_2507l { width: 28.13em; }
.mad45748_03al { width: 22.68em; }
.mad45748_0304l { width: 65.04em; }
.mad45748_1415l { width: 34.08em; }
.mad45748_0812 { width: 70.08em; }
.mad45748_07a { width: 59.91em; }
.mad45748_appxa { width: 86.66em; }
.mad45748_appxbl { width: 57.86em; }
.mad45748_0415l { width: 62.02em; }

.mad45748_1303l { width: 23.37em; }
.mad45748_1910l { width: 61.33em; }


.mad45748_2203l { width: 51.68em; }


.mhe_red_cmyk { width: 4.44em; }


mad45748_fm001 { width: 45.51em; }
mad45748_fm002 { width: 45.51em; }