/* Webfont: That-LightItalic */@font-face {
    font-family: 'ThatLt';
    src: url('That-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('That-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('That-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('That-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('That-LightItalic.svg#That-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

