/* Webfont: ArumSansLightItalic */@font-face {
    font-family: 'ArumSansLt';
    src: url('ArumSansLightItalic.eot'); /* IE9 Compat Modes */
    src: url('ArumSansLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ArumSansLightItalic.woff') format('woff'), /* Modern Browsers */
         url('ArumSansLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ArumSansLightItalic.svg#ArumSansLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

