/* Webfont: ArumSansBold */@font-face {
    font-family: 'ArumSansLt';
    src: url('ArumSansBold.eot'); /* IE9 Compat Modes */
    src: url('ArumSansBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ArumSansBold.woff') format('woff'), /* Modern Browsers */
         url('ArumSansBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ArumSansBold.svg#ArumSansBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

