/* line 6, ../../src/native_elements/mhe-anchor.scss */
a, .mhe-anchor {
  color: #e21a23;
}
/* line 9, ../../src/native_elements/mhe-anchor.scss */
a:link, .mhe-anchor:link {
  color: #e21a23;
}
/* line 13, ../../src/native_elements/mhe-anchor.scss */
a:visited, .mhe-anchor:visited {
  color: #b4151c;
}
/* line 18, ../../src/native_elements/mhe-anchor.scss */
a:hover, .mhe-anchor:hover {
  color: #39858e;
  text-decoration: underline;
}
/* line 23, ../../src/native_elements/mhe-anchor.scss */
a:active, .mhe-anchor:active {
  color: #39858e;
  text-decoration: underline;
}
/* line 28, ../../src/native_elements/mhe-anchor.scss */
a:focus, .mhe-anchor:focus {
  color: #e21a23;
  outline: 1px solid #33c5f4;
}

/* line 5, ../../src/native_elements/mhe-button.scss */
button, .mhe-button {
  background-color: #e21a23;
  font-family: "Proxima Nova Regular", Verdana, Helvetica, sans;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
}
/* line 13, ../../src/native_elements/mhe-button.scss */
button:hover, .mhe-button:hover {
  background-color: #b4151c;
}
/* line 17, ../../src/native_elements/mhe-button.scss */
button:active, .mhe-button:active {
  background-color: #870f15;
}
/* line 21, ../../src/native_elements/mhe-button.scss */
button:focus, .mhe-button:focus {
  outline: 2px solid #33c5f4;
}
/* line 25, ../../src/native_elements/mhe-button.scss */
button:disabled, .mhe-button:disabled {
  background-color: #cccccc;
  color: #666666;
}

/* line 6, ../../src/native_elements/mhe-h1-through-h6.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova Light", Verdana, Helvetica, sans;
}

/* line 10, ../../src/native_elements/mhe-h1-through-h6.scss */
h1 {
  color: #404b5a;
  font-size: 1.8em;
  font-weight: lighter;
}

/* line 16, ../../src/native_elements/mhe-h1-through-h6.scss */
h2 {
  color: #e21a23;
  font-size: 1.5em;
  font-weight: lighter;
}

/* line 22, ../../src/native_elements/mhe-h1-through-h6.scss */
h3 {
  color: #a6b1b7;
  font-size: 1.25em;
  font-weight: lighter;
}

/* line 28, ../../src/native_elements/mhe-h1-through-h6.scss */
h4 {
  color: #404b5a;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 34, ../../src/native_elements/mhe-h1-through-h6.scss */
h5 {
  color: #e21a23;
  font-size: 1.25em;
  font-weight: normal;
}

/* line 40, ../../src/native_elements/mhe-h1-through-h6.scss */
h6 {
  color: #a6b1b7;
  font-size: 1.25em;
  font-weight: normal;
}

/* line 5, ../../src/native_elements/mhe-input.scss */
input {
  border: 1px solid #cccccc;
  background-color: white;
  box-shadow: 0 0 10px #8f8f8f;
  padding: 0px 7px;
  vertical-align: middle;
}

/* line 5, ../../src/native_elements/mhe-textarea.scss */
textarea {
  border: 3px solid #cccccc;
  background-color: white;
  padding: 2px;
}

/* line 5, ../../src/mhe-classes/background-and-border.scss */
.mhe-background-color {
  background-color: #def0f2;
}

/* line 9, ../../src/mhe-classes/background-and-border.scss */
.mhe-border {
  box-shadow: 10px 10px 5px #888888;
  border: 3px solid #39858e;
}
