/* line 1, ../../src/includes.scss */
.mhe-theme-namespace {
  /*  This widget can be found in Mega CLO in Model: Templates 3

      This is built with a <canvas>, which uses JavaScript.  Can't change
      it with CSS.
  */
  /* This widget can be found in Mega CLO towards the end of Model: Templates 2

      This one will be tricky, because it's built with React.js
      they've used <li> elements as buttons...
      They're using CSS selectors like "#toggler.blue .buttons li.selected"
  */
  /*  This widget can be found in Mega CLO in Model: Templates 3

      Can't view it in Mega CLO.  It just says:
      "{"info": {}, "status": {"statusMsg": "Internal Server Error", "statusDetails": {}, "statusCode": 500}, "result": {}}
  */
  /*  This widget can be found in Mega CLO in Model: Templates 3

  */
  /*  This widget can be found in Mega CLO in Concept: Widgets and Templates 1

      Kevin had some ideas on this, but I'm not sure there's any work
      to be done here.
  */
  /*  This widget can be found in Mega CLO in Model: Templates 2

      ask Jegan to change "Expand All" and "Collapse All" from div's to buttons.
      ask Jegan to change class="disabled" to HTML attribute disabled
  */
  /*  Couldn't find this one in Mega CLO

  */
  /*  This widget can be found in Mega CLO in Model: Templates 2

      Pop Tips Plus uses a <canvas>, which means it's all JavaScript.
      We can't style it with CSS.
  */
  /*  This widget can be found in Mega CLO in Model: Templates 2

      I'm not sure there's any work to do here.  It's just a button,
      which should pick up the native <button> styles.

  */
  /*  This widget can be found in Mega CLO in Model: Templates 3

      The Check Answer/Try Again button is styled and changed by
      JavaScript setting inline styles.  Someone is going to have
      to go tear out all the Javascript.

      I think the only thing to style here are the icons, which we
      are going to do later.

  */
  /*  This widget can be found in Mega CLO at end of Model: Templates 2

      styling the buttons will be easy, as they use <button> tags.

      styling "Step One" will be tricky, because it's using inline styles.

      Styling the lightblue numbers will be tricky, because they also use
      inline styles.
  */
}
/* line 1, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a, .mhe-theme-namespace .mhe-anchor {
  color: green;
}
/* line 4, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:link, .mhe-theme-namespace .mhe-anchor:link {
  color: green;
}
/* line 8, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:visited, .mhe-theme-namespace .mhe-anchor:visited {
  color: #004d00;
}
/* line 13, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:hover, .mhe-theme-namespace .mhe-anchor:hover {
  color: purple;
  text-decoration: underline;
}
/* line 18, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:active, .mhe-theme-namespace .mhe-anchor:active {
  color: purple;
  text-decoration: underline;
}
/* line 23, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:focus, .mhe-theme-namespace .mhe-anchor:focus {
  color: green;
  outline: 1px solid black;
}
/* line 1, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button, .mhe-theme-namespace .mhe-button {
  background-color: green;
  font-family: "Courier New", Courier, monospace;
  color: yellow;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
}
/* line 14, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button:hover, .mhe-theme-namespace .mhe-button:hover {
  background-color: #0a5c0a;
}
/* line 22, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button:active, .mhe-theme-namespace .mhe-button:active {
  background-color: #0f3d0f;
}
/* line 30, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button:focus, .mhe-theme-namespace .mhe-button:focus {
  outline: 2px solid black;
}
/* line 34, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button:disabled, .mhe-theme-namespace button.disabled, .mhe-theme-namespace .mhe-button:disabled, .mhe-theme-namespace .mhe-button.disabled {
  background-color: #cccccc;
  color: #a3a3a3;
}
/* line 43, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button .correct-answer-theme-state, .mhe-theme-namespace .mhe-button .correct-answer-theme-state {
  background-color: green;
}
/* line 47, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button .incorrect-answer-theme-state, .mhe-theme-namespace .mhe-button .incorrect-answer-theme-state {
  background-color: red;
}
/* line 1, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h1, .mhe-theme-namespace h2, .mhe-theme-namespace h3, .mhe-theme-namespace h4, .mhe-theme-namespace h5, .mhe-theme-namespace h6 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* line 5, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h1 {
  color: red;
  font-size: 1.8em;
  font-weight: lighter;
}
/* line 11, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h2 {
  color: green;
  font-size: 1.5em;
  font-weight: lighter;
}
/* line 17, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h3 {
  color: yellow;
  font-size: 1.25em;
  font-weight: lighter;
}
/* line 23, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h4 {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 29, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h5 {
  color: green;
  font-size: 1.25em;
  font-weight: normal;
}
/* line 35, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h6 {
  color: yellow;
  font-size: 1.25em;
  font-weight: normal;
}
/* line 1, ../../src/native_elements/mhe-input.scss */
.mhe-theme-namespace input {
  border: 3px solid purple;
  box-shadow: 10px 10px 5px #888888;
  padding: 2px 7px;
}
/* line 1, ../../src/native_elements/mhe-textarea.scss */
.mhe-theme-namespace textarea {
  border: 3px solid purple;
  padding: 2px 7px;
}
/* line 1, ../../src/native_elements/universal.scss */
.mhe-theme-namespace * {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* line 1, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-theme-properties {
  background-color: #def0f2;
  border: 3px solid purple;
  box-shadow: 10px 10px 5px #888888;
  padding: 2px 7px;
}
/* line 7, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-background-color {
  background-color: #def0f2;
}
/* line 10, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-border {
  border: 3px solid purple;
}
/* line 13, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-box-shadow {
  box-shadow: 10px 10px 5px #888888;
}
/* line 16, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-padding {
  padding: 2px 7px;
}
/* line 21, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace.template-theme-properties, .mhe-theme-namespace .template-theme-properties {
  background-color: #def0f2;
  outline: 3px solid purple;
  box-shadow: 5px 5px 5px #999999;
  padding: 2px 7px;
}
/* line 27, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace.template-background-color, .mhe-theme-namespace .template-background-color {
  background-color: #def0f2;
}
/* line 30, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace.template-border, .mhe-theme-namespace .template-border {
  outline: 3px solid purple;
}
/* line 33, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace.template-box-shadow, .mhe-theme-namespace .template-box-shadow {
  box-shadow: 5px 5px 5px #999999;
}
/* line 36, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace.template-padding, .mhe-theme-namespace .template-padding {
  padding: 2px 7px;
}
/* line 1, ../../src/icons.scss */
.mhe-theme-namespace .left-chevron-theme-icon {
  background-image: url("icons/left-chevron-theme-icon.png");
}
/* line 4, ../../src/icons.scss */
.mhe-theme-namespace .right-chevron-theme-icon {
  background-image: url("icons/right-chevron-theme-icon.png");
}
/* line 7, ../../src/icons.scss */
.mhe-theme-namespace .up-chevron-theme-icon {
  background-image: url("icons/up-chevron-theme-icon.png");
}
/* line 10, ../../src/icons.scss */
.mhe-theme-namespace .down-chevron-theme-icon {
  background-image: url("icons/down-chevron-theme-icon.png");
}
/* line 13, ../../src/icons.scss */
.mhe-theme-namespace .plus-theme-icon {
  background-image: url("icons/plus-theme-icon.png");
}
/* line 16, ../../src/icons.scss */
.mhe-theme-namespace .minus-theme-icon {
  background-image: url("icons/minus-theme-icon.png");
}
/* line 19, ../../src/icons.scss */
.mhe-theme-namespace .correct-answer-theme-icon {
  background-image: url("icons/correct-answer-theme-icon.png");
}
/* line 22, ../../src/icons.scss */
.mhe-theme-namespace .incorrect-answer-theme-icon {
  background-image: url("icons/incorrect-answer-theme-icon.png");
}
/* line 25, ../../src/icons.scss */
.mhe-theme-namespace .dropdown-list-theme-icon {
  background-image: url("icons/dropdown-list-theme-icon.png");
}
/* line 28, ../../src/icons.scss */
.mhe-theme-namespace .slider-handle-theme-icon {
  background-image: url("icons/slider-handle-theme-icon.png");
}
/* line 31, ../../src/icons.scss */
.mhe-theme-namespace .layer-reveal-handle-theme-icon {
  background-image: url("icons/layer-reveal-handle-theme-icon.png");
}
/* line 34, ../../src/icons.scss */
.mhe-theme-namespace .active-progress-dot-theme-icon {
  background-image: url("icons/active-progress-dot-theme-icon.png");
}
/* line 37, ../../src/icons.scss */
.mhe-theme-namespace .inactive-progress-dot-theme-icon {
  background-image: url("icons/inactive-progress-dot-theme-icon.png");
}
/* line 40, ../../src/icons.scss */
.mhe-theme-namespace .slideline-navigator-theme-element {
  background-color: darkgray;
}
/* line 43, ../../src/icons.scss */
.mhe-theme-namespace .flip-theme-icon {
  background-image: url("icons/flip-theme-icon.png");
}
/* line 46, ../../src/icons.scss */
.mhe-theme-namespace .slider-line-theme-element {
  background-color: gray;
  height: 5px;
}
/* line 50, ../../src/icons.scss */
.mhe-theme-namespace .home-theme-icon {
  background-image: url("icons/home-theme-icon.png");
}
/* line 53, ../../src/icons.scss */
.mhe-theme-namespace .back-theme-icon {
  background-image: url("icons/back-theme-icon.png");
}
/* line 56, ../../src/icons.scss */
.mhe-theme-namespace .map-theme-icon {
  background-image: url("icons/map-theme-icon.png");
}
/* line 59, ../../src/icons.scss */
.mhe-theme-namespace .selected-radio-theme-icon {
  background-image: url("icons/selected-radio-theme-icon.png");
}
/* line 62, ../../src/icons.scss */
.mhe-theme-namespace .unselected-radio-theme-icon {
  background-image: url("icons/unselected-radio-theme-icon.png");
}
/* line 8, ../../src/widget_classes/large-image-navigator.scss */
.mhe-theme-namespace #large-image .wrap {
  border: 3px solid purple !important;
}
/* line 7, ../../src/widget_classes/outline-expander.scss */
.mhe-theme-namespace .marker {
  background-color: green;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 16, ../../src/widget_classes/outline-expander.scss */
.mhe-theme-namespace .leaf .marker {
  background-color: transparent;
}
/* line 21, ../../src/widget_classes/outline-expander.scss */
.mhe-theme-namespace .itemtext {
  background-color: #a1cdd2;
}
