/* line 22, ../../src/themes/theme3.scss */
.mhe-theme-namespace {
  /*  This widget can be found in Mega CLO in Model: Templates 3

      This is built with a <canvas>, which uses JavaScript.  Can't change
      it with CSS.
  */
  /* This widget can be found in Mega CLO towards the end of Model: Templates 2

      This one will be tricky, because they've used <li> elements as buttons...
      They're using CSS selectors like "#toggler.blue .buttons li.selected"
  */
  /*  This widget can be found in Mega CLO in Model: Templates 3

      Can't view it in Mega CLO.  It just says:
      "{"info": {}, "status": {"statusMsg": "Internal Server Error", "statusDetails": {}, "statusCode": 500}, "result": {}}
  */
  /*  This widget can be found in Mega CLO in Model: Templates 3

      Kevin had some ideas on this, but I'm not sure there's any work
      to be done here.
  */
  /*  This widget can be found in Mega CLO in Concept: Widgets and Templates 1

      Kevin had some ideas on this, but I'm not sure there's any work
      to be done here.
  */
  /*  This widget can be found in Mega CLO in Model: Templates 2

      ask Jegan to change "Expand All" and "Collapse All" from div's to buttons.
      ask Jegan to change class="disabled" to HTML attribute disabled
  */
  /*  Couldn't find this one in Mega CLO

  */
  /*  This widget can be found in Mega CLO in Model: Templates 2

      Pop Tips Plus uses a <canvas>, which means it's all JavaScript.
      We can't style it with CSS.
  */
  /*  This widget can be found in Mega CLO in Model: Templates 2

      I'm not sure there's any work to do here.  It's just a button,
      which should pick up the native <button> styles.

  */
  /*  This widget can be found in Mega CLO in Model: Templates 3

      I think the only thing to style here are the icons, which we
      are going to do later.

  */
  /*  This widget can be found in Mega CLO at end of Model: Templates 2

      styling the buttons will be easy, as they use <button> tags.

      styling "Step One" will be tricky, because it's using inline styles.

      Styling the lightblue numbers will be tricky, because they also use
      inline styles.
  */
}
/* line 1, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a, .mhe-theme-namespace .mhe-anchor {
  color: green;
}
/* line 4, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:link, .mhe-theme-namespace .mhe-anchor:link {
  color: green;
}
/* line 8, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:visited, .mhe-theme-namespace .mhe-anchor:visited {
  color: #004d00;
}
/* line 13, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:hover, .mhe-theme-namespace .mhe-anchor:hover {
  color: purple;
  text-decoration: underline;
}
/* line 18, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:active, .mhe-theme-namespace .mhe-anchor:active {
  color: purple;
  text-decoration: underline;
}
/* line 23, ../../src/native_elements/mhe-anchor.scss */
.mhe-theme-namespace a:focus, .mhe-theme-namespace .mhe-anchor:focus {
  color: green;
  outline: 1px solid black;
}
/* line 1, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button, .mhe-theme-namespace .mhe-button {
  background-color: green;
  font-family: "Courier New", Courier, monospace;
  color: yellow;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
}
/* line 14, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button:hover, .mhe-theme-namespace .mhe-button:hover {
  background-color: #0a5c0a;
}
/* line 22, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button:active, .mhe-theme-namespace .mhe-button:active {
  background-color: #0f3d0f;
}
/* line 30, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button:focus, .mhe-theme-namespace .mhe-button:focus {
  outline: 2px solid black;
}
/* line 34, ../../src/native_elements/mhe-button.scss */
.mhe-theme-namespace button:disabled, .mhe-theme-namespace button.disabled, .mhe-theme-namespace .mhe-button:disabled, .mhe-theme-namespace .mhe-button.disabled {
  background-color: #cccccc;
  color: #a3a3a3;
}
/* line 1, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h1, .mhe-theme-namespace h2, .mhe-theme-namespace h3, .mhe-theme-namespace h4, .mhe-theme-namespace h5, .mhe-theme-namespace h6 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* line 5, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h1 {
  color: red;
  font-size: 1.8em;
  font-weight: lighter;
}
/* line 11, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h2 {
  color: green;
  font-size: 1.5em;
  font-weight: lighter;
}
/* line 17, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h3 {
  color: yellow;
  font-size: 1.25em;
  font-weight: lighter;
}
/* line 23, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h4 {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 29, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h5 {
  color: green;
  font-size: 1.25em;
  font-weight: normal;
}
/* line 35, ../../src/native_elements/mhe-h1-through-h6.scss */
.mhe-theme-namespace h6 {
  color: yellow;
  font-size: 1.25em;
  font-weight: normal;
}
/* line 1, ../../src/native_elements/mhe-input.scss */
.mhe-theme-namespace input {
  border: 3px solid purple;
  box-shadow: 10px 10px 5px #888888;
  padding: 2px 7px;
}
/* line 1, ../../src/native_elements/mhe-textarea.scss */
.mhe-theme-namespace textarea {
  border: 3px solid purple;
  padding: 2px 7px;
}
/* line 1, ../../src/native_elements/universal.scss */
.mhe-theme-namespace * {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* line 1, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-background-color, .mhe-theme-namespace .rounddiv {
  /* revist use of .rouddiv  */
  background-color: #def0f2;
}
/* line 5, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-border, .mhe-theme-namespace .rounddiv {
  /* revist use of .rouddiv  */
  border: 3px solid purple;
}
/* line 9, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-box-shadow {
  box-shadow: 10px 10px 5px #888888;
}
/* line 13, ../../src/mhe-classes/background-and-border.scss */
.mhe-theme-namespace .mhe-padding {
  padding: 2px 7px;
}
/* line 7, ../../src/widget_classes/drag-and-drop.scss */
.mhe-theme-namespace .drop_object {
  border: 3px solid purple;
}
/* line 8, ../../src/widget_classes/large-image-navigator.scss */
.mhe-theme-namespace .thumb .ui-draggable-handle {
  border: 3px solid purple !important;
}
/* line 8, ../../src/widget_classes/outline-expander.scss */
.mhe-theme-namespace .marker {
  background-color: green;
}
/* line 20, ../../src/widget_classes/outline-expander.scss */
.mhe-theme-namespace .itemtext {
  background-color: #5c0a5c;
}
