/* Webfont: That-Bold */@font-face {
    font-family: 'ThatBd';
    src: url('That-Bold.eot'); /* IE9 Compat Modes */
    src: url('That-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('That-Bold.woff') format('woff'), /* Modern Browsers */
         url('That-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('That-Bold.svg#That-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

